<h1>Çerez</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Oturum Bilgileri</h3>
            </div>
            <div class="card-body">
                <label><b>Personel Adı:</b> @ViewBag.prsAdi</label><br />
                <label><b>Personel Yaşı:</b> @ViewBag.prsYasi</label><br />
                <label><b>Personel Maili:</b> @ViewBag.prsMaili</label><br />
                <label><b>Personel Rolu:</b> @ViewBag.prsRolu</label><br />
            </div>

            <div class="card-footer">
                <a class="btn btn-warning btn-block" asp-controller="Oturum" asp-action="Index">Geri Dön</a>

            </div>
        </div>

    </div>
</div>