
<h1>Index</h1>

<h3>Sesion oluşturuldu. Sonuçları görmek için Oturum sayfasına gidiniz..</h3>

<a asp-action="Oturum" asp-controller="Oturum" class="btn btn-success">Oturum sayfasına gitmek için tıklayınız..</a>


