@{
    ViewData["Title"] = "UrunSat";

}
<h1>Urun Sat</h1>

<form asp-action="UrunSat"  asp-controller="Sipariş" method="post"></form>
    <div class="form-group">
        <label>Ürün ID </label>
        <input type="text" name="urunID" value="" />
    </div>
    <div class="form-group">
        <label>Ürün Adı</label>
        <input type="text" name="urunAdi" value=""/>
    </div>
    <div class="form-group">
        <label>Ürün Fiyatı</label>
        <input type="text" name="urunFiyati" value=""/>
        <div class="form-group">
            <input type="submit" value="Urun Sat" class="btn btn-outline-success0
        </div>

</form>
