
@{
    ViewData["Title"] = "TagHelpers";
}

<h1>TagHelpers</h1>
@model User
<div class="row justify-content-center" style="margin-top:50px;">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h3>Tag Helper Sayfası</h3>
            </div>

        </div>
    </div>
</div>
