@{
    ViewData["Title"] = "StokAzalt";
}
<h1>Stok Azalt</h1>
<div class="justify-content-center">
    <p class="text-center"><b>Satılan Ürün Bilgileri<b></b>
</div>
<div class="justfy-contnt-center">
    <dl>
    <dt>Urun ID<dt>
        <dd>@ViewBag.UrunID<</dd>
        <dt>Urun Adı</dt>
        <dd>@ViewBag.UrunAdı</dd>
    <dt>Urun Fiyatı</dt>
    <dd>@ViewBag.fiyati</dd>
    </dl>
    
</div>